html{
    width: 100%;
}
body {
    background-image:  url('../images/fundal5.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column; /* ... la cate chestii avem, idk  */
    overflow-y: scroll;
    /* Permitere derulare verticală a întregii pagini */
    position: relative;
    /* Necesar pentru poziționare absolută */
}
.charts{
    max-width: 800px;
    height: 450px;
    padding: 20px;
    margin: 0 auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

main { 
    padding: 2rem;
    
    justify-content: space-between;
}
.image-container img {
    max-width: 20px;
    flex: 1;
}
header {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #4CAF50;
    color: white;
    padding: 40px 0px;
    justify-content: space-around;
    width: 100%;
}
header h1{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

tr {
    border-bottom: 1px solid #ddd;
}
.vertical-menu {
    width: 100%;
    background-color: #f0f0f0;   
    margin-top: 10px;
    padding: 30px 15px;
    border-radius: 10px;
    height: 860px;
    contain: paint;
}
.dropdown-label {
    display: flex;
    width: 100%;
    background-color: white;
    color: #000;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0px;
}
.dropdown-label2 {
    display: flex;
    width: 100%;
    background-color: white;
    color: #000;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0px;
}

.button {
    width: 100%;
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    padding: 15px 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
}
.button:active{
    background-color:#0b0a0a;
}
.container-factor {
    max-width: 900px;
}
.factor {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.factor h3 {
    margin-top: 0;
}
.factor p {
    margin-bottom: 0;
}
section {
    margin-top: 20px;
    flex: 2;
    flex-direction: column;
}
.section a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: darkslategray;
}

.section a:hover {
    text-decoration: underline;
}

h4 {
    margin-top: 0;
}

.section p {
    margin: 5px 0;
    text-indent: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul ul {
    list-style-type: circle;
}

.vertical-menu a:hover, #dropdown-div:hover {
    background-color: #ccc;

}
.vertical-menu a.button:hover {
    background-color: #ddd;
}

.top-buttons {
    margin-right: 100px;
    width: 150px;
    top: 20px;
    right: 20px;
    flex-direction: row;
    z-index: 999;
   
}

.top-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 10px;
}

h1 {
    margin: 0;
}

nav {
    
    align-items: center;
    contain: size;
    z-index: 1;
    overflow: unset;

}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.vertical-menu nav {

    align-items: center;
}

.vertical-menu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
}


.vertical-menu #dropdown-list2 a {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    align-items: center;
}
nav li {
    margin-bottom: 0;
    margin-right: 1rem;
}



nav a  {
    color: white;
    text-decoration: none;
}


#search-container {
    flex: 1 1 60%;
    margin-right: 2rem;
    
}

#search-form {
    display: flex;
}

#search-box {
    flex: 1;
    padding: 0.5rem;
    margin-right: 1rem;
}


#dropdown-checkbox[type="checkbox"]{
    position: absolute;
    left: -9999px;
}



.dropdown-label:hover {
    background-color: #ccc;
}


 #dropdown-checkbox2[type="checkbox"]{
    position: absolute;
    left: -9999px;
}



.dropdown-label2:hover {
    background-color: #ccc;
}

#dropdown-checkbox:checked ~ #dropdown-list .dropdown-element {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #ccc;
}


#dropdown-checkbox:checked ~  #dropdown-list .dropdown-element:hover {
    background-color: #f0f0f0;

}


#dropdown-checkbox2:checked ~ #dropdown-list2 .dropdown-element2 {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #ccc;
}


#dropdown-checkbox2:checked ~  #dropdown-list2 .dropdown-element2:hover {
    background-color: #f0f0f0;

}


#dropdown-list .dropdown-element {
    display: none;
}

#dropdown-list2 .dropdown-element2 {
    display: none;
}

#dropdown-checkbox2 {
    display: none;
}

#dropdown-checkbox {
    display: none;
}

#main-container{
    display: grid;
    grid-template-columns: auto 15%;
    
}
#main-content{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    overflow: visible;
}
#main-container h2 {
    margin: 0;
}

#menu-toggle{
    display: none;
}
#menu-toggle:checked ~ #menu {
    display: block;
}

#dropdown-list2 {
    text-align: center;
}

#dropdown-checkbox2:checked ~ #dropdown-list2 {
    display: block;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
    
}

 .dropdown-element {
    display: none;
    background-color: #f9f9f9;
    padding-left: 10px; 
}

.dropdown-element a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

 .dropdown-element a:hover {
    background-color: #ddd;
}

.main-container{
  overflow-x: auto;
}

.main-container table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.main-container th, .main-container td{
    word-wrap: break-word; /* Ensures content within cells does not overflow */
    max-width: 200px;
}

@media screen and (max-width: 900px) {
    .menu-icon {
        display: block;
    }


    .vertical-menu {
        display: none;
    }

    .top-buttons {
        display: none;
    }
   
    #search-container {
        width: 90%;
        margin-right: 0;
    }

    #search-box {
        flex: 1;
        width: 100%;
    }

    #search-form {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    #search-button {
        flex:1;
        width: 100%;
        padding: 0.5rem;
    }

    .main-container, #main-content{
        width: 85vw;
    }


}
@media screen and (min-width: 901px) {
    
    .menu-icon {
        display: none; 
    }

    #menu {
        display: none; 
    }

    .vertical-menu {
        display: block; 
    }


}