body {
<<<<<<<< HEAD:styles/admin_styles.css
    background-image: url('../extras/fundal7.jpg');
========
    background-image:  url('/images/fundal7.jpg');
>>>>>>>> main:UnemploymentExplorer/src/main/resources/css/admin_styles.css
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}

header {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 45%;
}

main {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 66%;
    border-radius: 5px;


}

.button:hover {
    opacity: 0.8;
}



h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

form input {
    margin: 5px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 900px) {
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-size: small;
}

header{
    width: 100%;
}


    .container {
        width: 100%;
        padding: 10px;
    }

    .item {
        width: 100%;
    }
    form {
        padding: 10px; /* Add some padding to the form on smaller screens */
    }

    form input {
        width: 80%; /* Make sure the input fields take up the full width of their container on smaller screens */
    }
}